# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Dataset
dataset/
deepfake_dataset/
*.zip

# Temporary files
*.tmp
*.temp